@import "variaveis.css";

.eventos-wrapper {
	margin-top: 50px;
	text-align: center;
}

.evento-card{
	border-radius: 0;
	margin-bottom: 50px;
}

.evento-titulo-pagina{
	width: 100%;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
	color: var(--nova-moto-center-1);
}

.evento-imagem-overlay{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	padding: 2rem;
	border-radius: 0px;
	background-color: var(--nova-moto-center-2-opacity);
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
}

.evento-imagem-overlay:hover{
	opacity: 1;	
}

@media(max-width: 425px){
	.evento-card{
		margin-bottom: 20px;
	}

	.evento-titulo-pagina{
		font-size: 1.8rem;
		margin-top: 20px;
	}

	.evento-subtitulo{
		margin-bottom: 0px;
	}

	.eventos-wrapper{
		margin-top: 20px;
	}


}




