:root {
    --nova-moto-center-white: #fff;
    --nova-moto-center-1: #444444;
    --nova-moto-center-1-light:rgba(68, 68, 68, 0.75);
    --nova-moto-center-2: #e62a44;
    --nova-moto-center-3: #9f0914;
    --nova-moto-center-4: #bf0911;
  }